@use "@siimple/lib" as siimple;

//Editor header styles
.header {
    display: block;
    height: 48px;
    //background-color: siimple.color-darker("dark");
    background-color: siimple.utils-darken(siimple.color("light"), 5%);
    //color: rgba(#ffffff, 0.7);
    //padding-top: 7px;
    //padding-bottom: 7px;
    line-height: 48px;
}

