@use "siimple-lib" as siimple;

//Header variables
$header-height: 40px;

//Editor header styles
.root {
    //display: flex;
    height: $header-height;
    //line-height: 40px;
}
.logo,
.title {
    display: block;
    height: $header-height;
    line-height: $header-height;
    //font-size: 18px;
}
.logo {
    cursor: pointer;
    font-size: 20px;
    opacity: 0.7;
    &:hover {
        transition: all 0.3s;
        //color: siimple.color-darker("secondary");
        opacity: 1.0;
    }
}
.title {
    //max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; //$header-height;
    height: $header-height;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    border-radius: siimple.$border-radius;
    opacity: 0.5;
    color: siimple.color("dark");
    //Button hover
    &:hover {
        opacity: 1.0;
        transition: all 0.3s;
        color: siimple.color-darker("secondary");
        background-color: rgba(siimple.color("secondary"), 0.2);
    }
    //Not last button
    &:not(:last-child) {
        margin-right: 5px;
    }
}
.divider {
    width: 3px;
    height: $header-height;
    background-color: siimple.light("2");
    //margin-left: 5px;
    margin-right: 5px;
}

