@use "siimple-lib" as siimple;

//Variables
$editor-padding: 10px;

//Main editor class
.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    //background-color: siimple.light("1");
    //padding: $editor-padding;
}
.header {
    display: block;
    padding: $editor-padding;
    padding-bottom: 0px !important;
}
.editor {
    display: block;
    flex-grow: 1;
    padding: $editor-padding;
}


