@use "@siimple/lib" as siimple;

//Main editor class
.editor {
    display: block;
    width: 100%;
    height: 100%;
    //Content style
    &Content {
        height: calc(100% - 48px);
        width: 100%; //calc(100% - 80px);
        //padding-left: 80px;
        position: relative;
    }
    //Panel separator
    &Resize {
        background-color: siimple.utils-darken(siimple.color("light"), 5%);
        transition: background-color 0.3s;
        //Hover style
        &:hover {
            background-color: siimple.utils-darken(siimple.color("light"), 10%);
        }
    }
}

