@use "siimple-lib" as siimple;

//Splash content
.root {
    display: flex;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    //background-color: siimple.color("light");
    justify-content: center;
    align-items: center;
}
//Splash content
.content {
    max-width: 300px;
    //padding: 10px;
    opacity: 0.5;
}
//Splash title
.title {
    font-size: 60px;
    color: siimple.color("dark");
    margin-bottom: 15px;
}


