@use "@siimple/lib" as siimple;

//Sandboxes list item
.item {
    cursor: pointer;
    max-width: 33%;
    min-width: 25%;
}

//Sandboxes item image style
.itemImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110px;
    border-radius: siimple.$border-radius;
    background-color: #ffffff; //siimple.gray("1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

