@use "@siimple/lib" as siimple;

//Editor header button styles
.button {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(#ffffff, 0.5);
    background-color: siimple.color("primary");
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 13px;
    //font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
    //Button hover
    &:hover {
        color: rgba(#ffffff, 0.8);
        background-color: siimple.utils-darken(siimple.color("primary"), 3%);
    }
    //Button icon
    &Icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        font-size: 16px;
    }
    //Button text
    &Text {
        display: inline-block;
        vertical-align: middle;
        //font-weight: bold;
    }
}

