@import "@siimple/css/scss/variables.scss";

//Editor input code styles
.code {
    //background-color: white;
    width: calc(100% - 50px);
    height: calc(100% - 45px);
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    background-color: siimple-default-color("light");
    //background-color: #ffffff;
    //Input code content
    &Content {
        display: block;
        //background-color: transparent !important;
        //background-color: #ffffff;
        margin: 0px !important;
        width: calc(100% - 70px);
        //height: calc(100% - 20px);
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
        //counter-reset: line;
        font-family: monospace;
        font-size: 12px;
        line-height: 20px;
        //margin-left: 50px;
        z-index: 1;
        color: siimple-default-color("dark");
    }
    //Lines counter
    &Lines {
        display: block;
        width: calc(50px - 7px);
        min-height: calc(100% - 20px);
        background-color: darken(siimple-default-color("light"), 3%);
        //background-color: #ffffff;
        font-family: monospace;
        font-size: 12px;
        color: rgba(siimple-default-color("dark"), 0.4);
        line-height: 20px;
        border-right: 2px solid siimple-default-color("light", "dark"); 
        //overflow-x: auto;
        position: absolute;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        top: 0px;
        left: 0px;
        z-index: 2;
    }
    //Status bar
    &StatusBar {
        display: block;
        width: calc(100% - 10px);
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        //color: #ffffff;
        color: rgba(#ffffff, 0.9);
        background-color: siimple-default-color("primary");
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 2;
    }
}

